body {
  background-color: #CA9999;
}

h1, nav {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

.bi {
  display: flex;
  align-items: center;
  height: 100%;
}

.bottom-box {
  display: flex;
  align-items: flex-end;
}

.social-button {
  border-radius: 50%;
  background-color: #CA9999;
}

.social-button:hover {
  -webkit-animation: fa-flip 2s infinite linear;
  -moz-animation: fa-flip 2s infinite linear;
  -o-animation: fa-flip 2s infinite linear;
  animation: fa-flip 2s infinite linear;
}

.social-link {
  text-decoration: none;
  color: rgb(9, 7, 7);
}